POSTGRES_PRISMA_URL="postgresql://postgres:postgres@localhost:5432/chatapp?connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgresql://postgres:postgres@localhost:5432/chatapp"
AUTH_SECRET="your_auth_secret_here"
AUTH_TRUST_HOST=true
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
EMAIL_FROM=your_email@gmail.com
REDIS_URL=redis://localhost:6379
PM2_PUBLIC_KEY=****
PM2_SECRET_KEY=****